<!-- Technical Skills Section -->
<section
  id="project"
  class="section section-primary d-flex justify-content-center align-items-center"
>

  <div class="content content-primary">
    <h3 class="section-heading text-center mt-3">Projects</h3>

    <div class="row skills-row pb-5 m-0">
      <div
        class="col-lg-6 col-md-12 mt-5 p-0 col-sm-12 d-flex justify-content-center"
      >
        <div class="project-outer-div d-flex justify-content-center">
          <div
            class="card-body project-div"
            data-aos="fade-up"
            data-aos-delay="100"
          >

            <figure class="project-figure">
              <img
                src="./content/betting.webp"
                class="project-img"
                alt="betting project"
                width="100%"
              />
            </figure>

            <div class="row pt-2">
              <div class="col-6 d-flex align-items-center">
                <h4 class="project-heading mb-0">
                  Betting Site
                </h4>
              </div>

              <div class="col-6 d-flex justify-content-end">
                {{! <a href="" target="_blank"
                                    aria-label="Source Code" data-balloon-pos="up">
                                    <span class="iconify iconify-redirect-icon" data-icon="ant-design:github-filled"
                                        data-width="35" data-height="35"></span>
                                </a> }}
                &nbsp;&nbsp;&nbsp;
                <a
                  href="https://www.unibet.com/"
                  target="_blank"
                  aria-label="Live Project"
                  data-balloon-pos="up"
                >
                  <span
                    class="iconify iconify-redirect-icon"
                    data-icon="charm:link-external"
                    data-width="35"
                    data-height="35"
                  ></span>
                </a>
              </div>

            </div>

            <div class="row pt-1">
              <h5>
                <span
                  class="d-inline-flex align-items-center justify-content-center built-with-badge javascript-badge"
                >
                  <span
                    class="iconify built-with-icons"
                    data-icon="logos:java"
                  ></span>
                  &nbsp; Java
                </span>
                <span
                  class="d-inline-flex align-items-center justify-content-center built-with-badge hbs-badge"
                >
                  <span
                    class="iconify built-with-icons"
                    data-icon="logos:spring-icon"
                  ></span>
                  &nbsp; Spring Boot
                </span>
                <span
                  class="d-inline-flex align-items-center justify-content-center built-with-badge html-badge"
                >
                  <span
                    class="iconify built-with-icons"
                    data-icon="logos:postgresql"
                  ></span>
                  &nbsp; PostgreSQL
                </span>
                <span
                  class="d-inline-flex align-items-center justify-content-center built-with-badge css-badge"
                >
                  <span
                    class="iconify built-with-icons"
                    data-icon="mdi:angular"
                  ></span>
                  &nbsp; Angular
                </span>
                <span
                  class="d-inline-flex align-items-center justify-content-center built-with-badge mysql-badge"
                >
                  <span class="iconify built-with-icons" data-icon="logos:aws">
                  </span>
                  &nbsp; AWS
                </span>
              </h5>
            </div>

            <p class="project-info">
              - Built a betting platform using
              <span>Java</span>
              and
              <span>Spring Boot</span>
              for reliable backend services.
              <br />
              - Created a responsive frontend with
              <span>Angular</span>
              for easy betting, viewing odds, and managing accounts.
              <br />
              - Added real-time data feeds for accurate odds updates.
              <br />
              - Used
              <span>A/B testing</span>
              to compare UI layouts and features, boosting user engagement.
              <br />
              - Ensured strong security and scalability for many users and
              transactions.
              <br />
              - Used analytics and feedback to continually improve the
              platform’s performance and user experience.
            </p>

          </div>
        </div>
      </div>

      <div
        class="col-lg-6 col-md-12 mt-5 p-0 col-sm-12 d-flex justify-content-center"
      >
        <div class="project-outer-div d-flex justify-content-center">
          <div
            class="card-body project-div"
            data-aos="fade-up"
            data-aos-delay="100"
          >

            <figure class="project-figure">
              <img
                src="./content/AI-developement.webp"
                class="project-img"
                alt="MPT project"
                width="100%"
              />
            </figure>

            <div class="row pt-2">
              <div class="col-6 d-flex align-items-center">
                <h4 class="project-heading mb-0">
                  ChatBot
                </h4>
              </div>

              <div class="col-6 d-flex justify-content-end">
                {{! <a href="https://github.com/BorisEdison/Diffuser" target="_blank"
                                    aria-label="Source Code" data-balloon-pos="up">
                                    <span class="iconify iconify-redirect-icon" data-icon="ant-design:github-filled"
                                        data-width="35" data-height="35"></span>
                                </a> }}
                &nbsp;&nbsp;&nbsp;
                <a
                  href="https://chat.chatgptdemo.net"
                  target="_blank"
                  aria-label="Live Project"
                  data-balloon-pos="up"
                >
                  <span
                    class="iconify iconify-redirect-icon"
                    data-icon="charm:link-external"
                    data-width="35"
                    data-height="35"
                  ></span>
                </a>
              </div>
            </div>

            <div class="row pt-1">
              <h5>

                <span
                  class="d-inline-flex align-items-center justify-content-center built-with-badge python-badge"
                >
                  <span
                    class="iconify built-with-icons"
                    data-icon="vscode-icons:file-type-python"
                  ></span>
                  &nbsp; Python
                </span>
                <span
                  class="d-inline-flex align-items-center justify-content-center built-with-badge python-badge"
                >
                  <span
                    class="iconify built-with-icons"
                    data-icon="vscode-icons:file-type-django"
                  ></span>
                  &nbsp; Django
                </span>

                <span
                  class="d-inline-flex align-items-center justify-content-center built-with-badge html-badge"
                >
                  <span
                    class="iconify built-with-icons"
                    data-icon="mdi:react"
                  ></span>
                  &nbsp; React
                </span>

                <span
                  class="d-inline-flex align-items-center justify-content-center built-with-badge css-badge"
                >
                  <span
                    class="iconify built-with-icons"
                    data-icon="logos:tailwindcss-icon"
                  ></span>
                  &nbsp; Tailwind
                </span>
                <span
                  class="d-inline-flex align-items-center justify-content-center built-with-badge mysql-badge"
                >
                  <span class="iconify built-with-icons" data-icon="logos:microsoft-azure">
                  </span>
                  &nbsp; Azure
                </span>

                <span
                  class="d-inline-flex align-items-center justify-content-center built-with-badge chartjs-badge"
                >
                  <span class="iconify built-with-icons">
                    <img
                      src="./content/tech/langchain.jfif"
                      alt=""
                      width="100%"
                    />
                  </span>
                  &nbsp; LangChain
                </span>
                <span
                  class="d-inline-flex align-items-center justify-content-center built-with-badge javascript-badge"
                >
                  <span class="iconify built-with-icons">
                    <img src="./content/tech/gpt.png" alt="" width="100%" />
                  </span>
                  &nbsp; ChatGPT
                </span>
                <span
                  class="d-inline-flex align-items-center justify-content-center built-with-badge hbs-badge"
                >
                  <span class="iconify built-with-icons">
                    <img
                      src="./content/tech/pine-cone-systems.svg"
                      alt=""
                      width="100%"
                    />
                  </span>
                  &nbsp; Pinecone
                </span>
                
              </h5>
            </div>

            <p class="project-info">
              - Integrated
              <span>Pinecone API</span>,
              <span>OpenAI API</span>
              and
              <span>Rest API</span>
              <br />
              - Uploading a document, the data was read and stored as metadata
              in
              <span>Pinecone</span>
              <br />
              - Embed metadata into
              <span>ChatGPT</span>
              using
              <span>LangChain</span>
              and then generated accurate answers
              <br />
              - Enhanced response accuracy to over 95% using
              <span>prompt engineering</span>
            </p>
          </div>
        </div>
      </div>

      <div
        class="col-lg-6 col-md-12 mt-5 p-0 col-sm-12 d-flex justify-content-center"
      >
        <div class="project-outer-div d-flex justify-content-center">
          <div
            class="card-body project-div"
            data-aos="fade-up"
            data-aos-delay="200"
          >

            <figure class="project-figure">
              <img
                src="./content/education.jpg"
                class="project-img"
                alt="MPT project"
              />
            </figure>

            <div class="row pt-2">
              <div class="col-6 d-flex align-items-center">
                <h4 class="project-heading mb-0">
                  Education
                </h4>
              </div>

              <div class="col-6 d-flex justify-content-end">
                &nbsp;&nbsp;&nbsp;

                <a
                  href="https://myhomeworkapp.com/"
                  target="_blank"
                  aria-label="Live Project"
                  data-balloon-pos="up"
                >
                  <span
                    class="iconify iconify-redirect-icon"
                    data-icon="charm:link-external"
                    data-width="35"
                    data-height="35"
                  ></span>
                </a>

              </div>

            </div>

            <div class="row pt-1">
              <h5>
                <span
                  class="d-inline-flex align-items-center justify-content-center built-with-badge django-badge"
                >
                  <span
                    class="iconify built-with-icons"
                    data-icon="teenyicons:nextjs-solid"
                  ></span>
                  &nbsp; NextJs
                </span>

                <span
                  class="d-inline-flex align-items-center justify-content-center built-with-badge bootstrap-badge"
                >
                  <span
                    class="iconify built-with-icons"
                    data-icon="logos:typescript-icon"
                  ></span>
                  &nbsp; TypeScript
                </span>

                <span
                  class="d-inline-flex align-items-center justify-content-center built-with-badge python-badge"
                >
                  <span
                    class="iconify built-with-icons"
                    data-icon="vscode-icons:file-type-python"
                  ></span>
                  &nbsp; Python
                </span>
                <span
                  class="d-inline-flex align-items-center justify-content-center built-with-badge python-badge"
                >
                  <span
                    class="iconify built-with-icons"
                    data-icon="vscode-icons:file-type-django"
                  ></span>
                  &nbsp; Django
                </span>

                <span
                  class="d-inline-flex align-items-center justify-content-center built-with-badge css-badge"
                >
                  <span
                    class="iconify built-with-icons"
                    data-icon="vscode-icons:file-type-nginx"
                  ></span>
                  &nbsp; Nginx
                </span>
              </h5>
            </div>

            <p class="project-info">
              - Developed a cross-platform student planner app with
              <span>Next.js</span>,
              <span>TypeScript</span>,
              <span>Python</span>,
              <span>Django</span>, and
              <span>Nginx</span>.
              <br />
              - Connected
              <span>REST APIs</span>
              for real-time data sync and user login.
              <br />
              - Built backend services with
              <span>Django</span>
              and
              <span>Python</span>
              for data management and business logic.
              <br />
              - Set up
              <span>Nginx</span>
              as a reverse proxy to improve performance, security, and load
              balancing.
              <br />
              - Ensured the app is fast, scalable, and provides a smooth user
              experience across devices.
            </p>

          </div>

        </div>
      </div>

      <div
        class="col-lg-6 col-md-12 mt-5 p-0 col-sm-12 d-flex justify-content-center"
      >
        <div class="project-outer-div d-flex justify-content-center">

          <div
            class="card-body project-div"
            data-aos="fade-up"
            data-aos-delay="200"
          >

            <figure class="project-figure">
              <img
                src="./content/ec.jpg"
                class="project-img"
                alt="APBCT Project"
              />
            </figure>

            <div class="row pt-2">
              <div class="col-6 d-flex align-items-center">
                <h4 class="project-heading mb-0">
                  E-commerce
                </h4>
              </div>

              <div class="col-6 d-flex justify-content-end">
                {{! 
                                <a href="" target="_blank" aria-label="Source Code"
                                    data-balloon-pos="up">
                                    <span class="iconify iconify-redirect-icon" data-icon="ant-design:github-filled"
                                        data-width="35" data-height="35"></span>
                                </a> }}

                &nbsp;&nbsp;&nbsp;

                <a
                  href="https://fashionspark.com/"
                  target="_blank"
                  aria-label="Live Project"
                  data-balloon-pos="up"
                >
                  <span
                    class="iconify iconify-redirect-icon"
                    data-icon="charm:link-external"
                    data-width="35"
                    data-height="35"
                  ></span>
                </a>

              </div>

            </div>

            <div class="row pt-1">
              <h5>

                <span
                  class="d-inline-flex align-items-center justify-content-center built-with-badge css-badge"
                >
                  <span
                    class="iconify built-with-icons"
                    data-icon="logos:shopify"
                  ></span>
                  &nbsp; Shopify
                </span>

                <span
                  class="d-inline-flex align-items-center justify-content-center built-with-badge html-badge"
                >
                  <span
                    class="iconify built-with-icons"
                    data-icon="logos:php"
                  ></span>
                  &nbsp; PHP
                </span>
                <span
                  class="d-inline-flex align-items-center justify-content-center built-with-badge jquery-badge"
                >
                  <span
                    class="iconify built-with-icons"
                    data-icon="logos:mysql-icon"
                  ></span>
                  &nbsp; MySQL
                </span>
              </h5>
            </div>

            <p class="project-info">
              - Set up a <span>Shopify</span> store with customizable themes and plugins.
              <br />
              - Uploaded products, images, and descriptions through the <span>Shopify</span>
              admin.
              <br />
              - Manually optimized product listings and store layout to improve
              user experience.
              <br />
              - Created a user-friendly online store that is easy to manage and
              helps increase customer engagement.
            </p>
          </div>
        </div>
      </div>

      <div
        class="col-lg-6 col-md-12 mt-5 p-0 col-sm-12 d-flex justify-content-center"
      >
        <div class="project-outer-div d-flex justify-content-center">
          <div
            class="card-body project-div"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <figure class="project-figure">
              <img
                src="./content/finance2.png"
                alt="finance"
                class="project-img"
              />
            </figure>
            <div class="row pt-2">
              <div class="col-6 d-flex align-items-center">
                <h4 class="project-heading mb-0">
                  Finance
                </h4>
              </div>

              <div class="col-6 d-flex justify-content-end">
                {{! <a href="https://github.com/BorisEdison/Diffuser" target="_blank"
                                    aria-label="Source Code" data-balloon-pos="up">
                                    <span class="iconify iconify-redirect-icon" data-icon="ant-design:github-filled"
                                        data-width="35" data-height="35"></span>
                                </a> }}
                &nbsp;&nbsp;&nbsp;
                <a
                  href="https://ottofinance.io/"
                  target="_blank"
                  aria-label="Live Project"
                  data-balloon-pos="up"
                >
                  <span
                    class="iconify iconify-redirect-icon"
                    data-icon="charm:link-external"
                    data-width="35"
                    data-height="35"
                  ></span>
                </a>
              </div>
            </div>

            <div class="row pt-1">
              <h5>

                <span
                  class="d-inline-flex align-items-center justify-content-center built-with-badge html-badge"
                >
                  <span
                    class="iconify built-with-icons"
                    data-icon="mdi:react"
                  ></span>
                  &nbsp; React
                </span>

                <span
                  class="d-inline-flex align-items-center justify-content-center built-with-badge bootstrap-badge"
                >
                  <span
                    class="iconify built-with-icons"
                    data-icon="logos:typescript-icon"
                  ></span>
                  &nbsp; TypeScript
                </span>

                <span
                  class="d-inline-flex align-items-center justify-content-center built-with-badge javascript-badge"
                >
                  <span
                    class="iconify built-with-icons"
                    data-icon="logos:nodejs-icon"
                  ></span>
                  &nbsp; NodeJs
                </span>

                <span
                  class="d-inline-flex align-items-center justify-content-center built-with-badge chartjs-badge"
                >
                  <span
                    class="iconify built-with-icons"
                    data-icon="simple-icons:express"
                  ></span>
                  &nbsp; Express
                </span>

                <span
                  class="d-inline-flex align-items-center justify-content-center built-with-badge css-badge"
                >
                  <span
                    class="iconify built-with-icons"
                    data-icon="logos:tailwindcss-icon"
                  ></span>
                  &nbsp; TailwindCSS
                </span>

                <span
                  class="d-inline-flex align-items-center justify-content-center built-with-badge jquery-badge"
                >
                  <span
                    class="iconify built-with-icons"
                    data-icon="simple-icons:mongodb"
                  ></span>
                  &nbsp; MongoDB
                </span>
                <span
                  class="d-inline-flex align-items-center justify-content-center built-with-badge mysql-badge"
                >
                  <span class="iconify built-with-icons" data-icon="logos:google-cloud">
                  </span>
                  &nbsp; GCP
                </span>
                </span>
              </h5>
            </div>

            <p class="project-info">
              - Developed a <>finance platform</span> using <span>React</span>, <span>TypeScript</span>, <span>Node.js</span>,
              <span>Express</span>, and <span>MongoDB</span>.<br />
              - Integrated APIs for secure login, real-time transactions, and
              account management.<br />
              - Built backend services for data processing, reporting, and
              business logic.<br />
              - Implemented payment gateways and automated billing for smooth
              transactions.<br />
              - Designed a responsive, user-friendly interface for all devices.
            </p>

          </div>
        </div>
      </div>

      <div
        class="col-lg-6 col-md-12 mt-5 p-0 col-sm-12 d-flex justify-content-center"
      >
        <div class="project-outer-div d-flex justify-content-center">
          <div
            class="card-body project-div"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <figure class="project-figure">
              <img src="./content/hero_image.png" class="project-img" />
            </figure>

            <div class="row pt-2">
              <div class="col-6 d-flex align-items-center">
                <h4 class="project-heading mb-0">
                  ChatBot
                </h4>
              </div>

              <div class="col-6 d-flex justify-content-end">
                {{! <a href="https://github.com/BorisEdison/Diffuser" target="_blank"
                                    aria-label="Source Code" data-balloon-pos="up">
                                    <span class="iconify iconify-redirect-icon" data-icon="ant-design:github-filled"
                                        data-width="35" data-height="35"></span>
                                </a> }}
                &nbsp;&nbsp;&nbsp;
                <a
                  href="https://fitaction.app/"
                  target="_blank"
                  aria-label="Live Project"
                  data-balloon-pos="up"
                >
                  <span
                    class="iconify iconify-redirect-icon"
                    data-icon="charm:link-external"
                    data-width="35"
                    data-height="35"
                  ></span>
                </a>
              </div>
            </div>

            <div class="row pt-1">
              <h5>

                <span
                  class="d-inline-flex align-items-center justify-content-center built-with-badge django-badge"
                >
                  <span
                    class="iconify built-with-icons"
                    data-icon="teenyicons:nextjs-solid"
                  ></span>
                  &nbsp; NextJs
                </span>

                <span
                  class="d-inline-flex align-items-center justify-content-center built-with-badge bootstrap-badge"
                >
                  <span
                    class="iconify built-with-icons"
                    data-icon="logos:typescript-icon"
                  ></span>
                  &nbsp; TypeScript
                </span>

                <span
                  class="d-inline-flex align-items-center justify-content-center built-with-badge javascript-badge"
                >
                  <span
                    class="iconify built-with-icons"
                    data-icon="logos:nodejs-icon"
                  ></span>
                  &nbsp; NodeJs
                </span>
                <span
                  class="d-inline-flex align-items-center justify-content-center built-with-badge css-badge"
                >
                  <span
                    class="iconify built-with-icons"
                    data-icon="logos:tailwindcss-icon"
                  ></span>
                  &nbsp; TailwindCSS
                </span>
                <span
                  class="d-inline-flex align-items-center justify-content-center built-with-badge mysql-badge"
                >
                  <span class="iconify built-with-icons" data-icon="logos:aws">
                  </span>
                  &nbsp; AWS
                </span>
                <span
                  class="d-inline-flex align-items-center justify-content-center built-with-badge javascript-badge"
                >
                  <span class="iconify built-with-icons">
                    <img src="./content/tech/claude-ai.svg" alt="" width="100%" />
                  </span>
                  &nbsp; Claude
                </span>

              </h5>
            </div>
            <p class="project-info">
              - Developed a fitness tracking and workout planning app using <span>Next.js</span>, <span>TypeScript</span>, <span>AWS</span>, and <span>AI technologies</span>.<br>
              - Integrated AI-powered features for personalized workout recommendations and real-time health insights.<br>
              - Built backend services with <span>AWS Lambda</span>, <span>API Gateway</span>, and <span>DynamoDB</span> to manage user data and workout plans.<br>
              - Leveraged <span>AI models</span> to analyze user performance and provide tailored fitness advice.<br>
              - Utilized <span>AWS services</span> for scalable deployment, storage, and secure user authentication.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>